name: Unit tests
on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install flutter dependencies
        run: |
          sudo apt-get update -y && sudo apt-get upgrade -y;
          sudo apt-get install -y curl git unzip xz-utils zip libglu1-mesa
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v3
        with:
          channel: stable
          version: latest
      - name: Install dependencies
        run: flutter pub get
      - name: Run tests
        run: flutter test
